extend ./layout
block  content
    h2.page-header Register Page
    if errors
        each error in errors
            div.alert.alert-danger #{error.msg}
    form(action='/users/register' method='post')
        div.form-group
            label Name
            input.form-control(type='text' name='name' placeholder='Name')
        div.form-group
            label Username
            input.form-control(type='text' name='username' placeholder='Username')
        div.form-group
            label Password
            input.form-control(type='password' name='password' placeholder='Password')
        div.form-group
            label Confirm Password
            input.form-control(type='password' name='password2' placeholder='Confirm Password')
        button.btn.btn-default(type='submit') Register