extend ../shared/layout
block  content
    h2.page-header Add Thread Page
    if errors
        each error in errors
            div.alert.alert-danger #{error.msg}
    form(action="/add" method="post")
        div.form-group
            label Title
            input.form-control(type="text" name="title" placeholder="Title" id="title")
        div.form-group
            label Description
            textarea.form-control(name="description" rows="5" id="description") 
        button.btn.btn-success(type="submit") Add Thread