extend ../shared/layout
block  content
    h2.page-header List Thread Page
    div.list-group
      each thread in threads
        div.list-group-item
          a(href="/post/" + thread._id +"/" + thread.title) Title - #{thread.title}
          br
        if !currentUser
          a(href="/profile/" + thread.author.username) User - #{thread.author.username}
          
        